@font-face {
  font-family: 'Acrom-ExtraBold';
  src: url('../fonts/Acrom-ExtraBold.eot');
  src: url('../fonts/Acrom-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Acrom-ExtraBold.woff') format('woff'),
  url('../fonts/Acrom-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }
  @font-face {
    font-family: 'AcromRegular';
    src: url('../fonts/Acrom-Regular.eot');
    src: url('../fonts/Acrom-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Acrom-Regular.woff') format('woff'),
    url('../fonts/Acrom-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    @font-face {
      font-family: 'AcromMedium';
      src: url('../fonts/Acrom-Medium.eot');
      src: url('../fonts/Acrom-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Acrom-Medium.woff') format('woff'),
      url('../fonts/Acrom-Medium.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
      }