@media screen and (min-width: 1200px) {
  .skills {
    .wrapper {
      padding: 85px 3%;

      &::after {
        width: 45%;
        top: 15%;
      }
    }

    &__content {
    }

    &__tittle {
      width: 500px;
      font-size: 4em;
      line-height: 85px;
    }

    // &__text {
      // font-size: 1.5em;
      // line-height: 35px;

      // &::after {
      //   width: 75px;
      //   height: 10px;
      //   top: 5%;
      // }
    // }
  }
}