@media screen and (min-width: 992px) {
  .skills {
    .wrapper {
      width: 80%;
      min-width: 991px;
      margin: 0 auto;
    }

    &__content {
      width: 55%;
      min-width: 540px;
    }
  }
}