@media screen and (min-width:1200px){
    .headline__page {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 960px;
        width: 80%;
        max-width: 1440px;
    }

    .nav__link--item {
        max-width: 1440px;
        padding-right: 26px;
    }

    .icon {
        max-width: 1440px;
        right: 254px;
    }

    .icon__source {
        max-width: 1440px;
        right: 350px;
    }
}