.page__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 82px;
    padding-left: 3%;
    overflow: hidden;
    min-width: 320px;
}

.page__nav {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.list__item,
.list__item--link {
    font-family: 'AcromMedium',sans-serif;
    font-weight: bold; 
    font-size: 10px;
    padding: 3px 0;
    color: #000000;
    text-decoration: none;
    line-height: 1.5;
    &:hover {
        color: #ef742f;
        transition: 0.3s;
        cursor: pointer;
        &--link {
           position: relative;
           margin-right: 5px;
        }
    }
}

.list__item--burger{
    width: 130px;   
    display: flex; 
    flex-direction: row; 
    &:hover{
    color: #ef742f;
    transition: 0.3s;
    cursor: pointer;
    }
}
.main__link{
    width: 130px;   
    display: flex; 
    flex-direction: row;  
}
.icon {
    margin-right: 5px;   
    width: 10px;
}

.icon--source {
    margin-right: 10px;  
}

