@media screen and (min-width:768px) {
   .headline__page {
    max-width: 768px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 80px;
    padding-left: 3%;
    padding-right: 3%;
   }
   
    .nav__link--item {
        padding-right: 10px;
    }

    .icon {
        right: 128px;
    }

    .icon__source {
        right: 122px;
    }


    

}