@media screen and (min-width:960px) {
    .page__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 960px;
        width: 80%;
        max-width: 1440px;
    }

    .page__nav {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .list__item--link {
        max-width: 1440px;
        padding-right: 26px;
        /*padding-right: 34px;*/
    }

    .icon {
        max-width: 1440px;
        right: 254px;
        /*right: 134px;*/
    }

    .icon--source {
        max-width: 1440px;
        right: 350px;
        /*right: 234px;*/
    }




}