@media screen and (min-width: 1199px) {
  .cretaries {
    &__tittle {
      line-height: 55px;
      width: 610px;
    }

    &__slaider {
      width: 80%;
      margin: 0 auto;
    }
    
    &__photo {
      width: 400px;
    }
    
    .slider__text-2 {
      @include text-big;
    }

    .slider-2 {
      width: 80%;
    }

    .slider__text-2 {

      &::before {
        top: 25px;
        line-height: 24px;
        font-size: 20px;
        left: -50px;
      }
    }
  }
}