@media screen and (min-width: 1199px) {
  .cretaries {
    &__tittle {
      font-size: 4em;
      line-height: 80px;
      width: 810px;
    }
  
    .slider__item {
      flex: 0 0 25%;
      max-width: 25%;
    }

    &__media {
      width: 25%;
    }
    
    &__slaider {
      width: 60%;
      margin: 0 auto;
    }
  }
}