@media screen and (min-width: 767px) {
  .cretaries {
    &-wrapper {

    }

    &__header {
      width: 465px;
    }

    &__main {
      display: flex;
      justify-content: space-around;
    }

    &__tittle {

    }

    &__photo {
      display: block;
    }
  }
}