@media screen and (min-width: 767px) {
  .cretaries {
    &__header {
      width: 465px;
    }

    &__main {
      display: flex;
      justify-content: space-around;
    }
    &__photo {
      display: block;
    }
  }
}